SECRET_KEY=dev
FLASK_APP="xpark:create_app()"

DATABASE_URI="dbname=parkingpass user=admin password=password host=127.0.0.1 port=5432"
TEST_DATABASE_URI="user=postgres password=postgres host=postgres port=5432"
TEST_DATABASE_NAME=test_xpark

FLASK_RUN_PORT=5001
FLASK_RUN_HOST=localhost
FLASK_DEBUG=1
ALLOWED_ORIGIN=*

SMTP_FROM=noreply@example.com
SMTP_TLS=no
SMTP_HOST=smtp.purelymail.com
SMTP_PASSWORD=password

S3_ENABLED=yes
S3_ENDPOINT=https://o.ersei.net
S3_BUCKET=xpark
S3_ACCESS_KEY=ACCESS_KEY
S3_SECRET_KEY=SECRET_KEY
