SECRET_KEY=dev
DATABASE_URI="dbname=parkingpass user=admin password=password host=127.0.0.1 port=5432"
REDIS_URI="redis://localhost?db=0"
FLASK_APP="xpark:create_app()"
TEST_DATABASE_URI="user=postgres password=postgres host=postgres port=5432"
TEST_DATABASE_NAME=test_xpark
FLASK_RUN_PORT=5000
FLASK_RUN_HOST=localhost
