/* /frontend/src/app/add/AddPage.tsx */

.container::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }
  
  .container::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid transparent; /* Padding around the thumb */
  }
  
  .container {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent; /* For Firefox */
  }