openapi: 3.0.0
info:
  title: Parking Space Sharing API
  version: 1.0.0
  description: API specification for the parking space sharing application.
servers:
  - url: https://api.parkingapp.com/v1
    description: Production server
tags:
  - name: Authentication
    description: User authentication and account management
  - name: Users
    description: User profiles and preferences
  - name: Parking Spaces
    description: Parking space listings and management
  - name: Reservations
    description: Booking and managing reservations
  - name: Spot Finder
    description: Spot finder submissions and rewards
  - name: Notifications
    description: User notifications
  - name: Admin
    description: Administrative actions
paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register a new user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Unauthorized
  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
        '401':
          description: Unauthorized
  /auth/password-reset:
    post:
      tags:
        - Authentication
      summary: Request password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Password reset email sent
        '400':
          description: Invalid email
  /auth/password-reset/confirm:
    post:
      tags:
        - Authentication
      summary: Confirm password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirmRequest'
      responses:
        '200':
          description: Password reset successful
        '400':
          description: Invalid token or password
  /users/me:
    get:
      tags:
        - Users
      summary: Get current user's profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
    put:
      tags:
        - Users
      summary: Update current user's profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: User profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
    delete:
      tags:
        - Users
      summary: Delete current user's account
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account deleted
        '401':
          description: Unauthorized
  /users/{userId}:
    get:
      tags:
        - Users
      summary: Get user profile by ID
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicUserProfile'
        '404':
          description: User not found
  /users/me/car-info:
    get:
      tags:
        - Users
      summary: Get current user's car information
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of car information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CarInfo'
        '401':
          description: Unauthorized
    post:
      tags:
        - Users
      summary: Add new car information
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarInfo'
      responses:
        '201':
          description: Car information added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarInfo'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
  /parking-spaces:
    post:
      tags:
        - Parking Spaces
      summary: Search for parking spaces
      parameters:
        - in: query
          name: latitude
          required: true
          schema:
            type: number
            format: float
        - in: query
          name: longitude
          required: true
          schema:
            type: number
            format: float
        - in: query
          name: radius
          schema:
            type: number
            format: float
            default: 5
        - in: query
          name: available_from
          schema:
            type: string
            format: date-time
        - in: query
          name: available_to
          schema:
            type: string
            format: date-time
        - in: query
          name: free_only
          schema:
            type: boolean
            default: false
        - in: query
          name: features
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: List of parking spaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParkingSpaceSummary'
  /parking-spaces/{id}:
    get:
      tags:
        - Parking Spaces
      summary: Get parking space details
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Parking space details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParkingSpace'
        '404':
          description: Not found
  /owners/parking-spaces:
    get:
      tags:
        - Owners
      summary: Get owner's parking spaces
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of parking spaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParkingSpace'
        '401':
          description: Unauthorized
    post:
      tags:
        - Owners
      summary: Create a new parking space
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParkingSpaceCreateRequest'
      responses:
        '201':
          description: Parking space created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParkingSpace'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
  /owners/parking-spaces/{id}:
    put:
      tags:
        - Owners
      summary: Update parking space
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParkingSpaceUpdateRequest'
      responses:
        '200':
          description: Parking space updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParkingSpace'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
        - Owners
      summary: Delete parking space
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Parking space deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /reservations:
    get:
      tags:
        - Reservations
      summary: Get current user's reservations
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of reservations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reservation'
        '401':
          description: Unauthorized
    post:
      tags:
        - Reservations
      summary: Create a new reservation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationCreateRequest'
      responses:
        '201':
          description: Reservation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
  /reservations/{id}:
    get:
      tags:
        - Reservations
      summary: Get reservation details
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Reservation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '401':
          description: Unauthorized
        '404':
          description: Not found
    put:
      tags:
        - Reservations
      summary: Update reservation
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationUpdateRequest'
      responses:
        '200':
          description: Reservation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
        - Reservations
      summary: Cancel reservation
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Reservation canceled
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /spot-finder/submissions:
    get:
      tags:
        - Spot Finder
      summary: Get user's spot submissions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of submissions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotFinderSubmission'
        '401':
          description: Unauthorized
    post:
      tags:
        - Spot Finder
      summary: Submit a new spot
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                latitude:
                  type: number
                  format: float
                longitude:
                  type: number
                  format: float
      responses:
        '201':
          description: Spot submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotFinderSubmission'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
  /notifications:
    get:
      tags:
        - Notifications
      summary: Get user's notifications
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
        '401':
          description: Unauthorized
  /notifications/{id}/read:
    post:
      tags:
        - Notifications
      summary: Mark notification as read
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notification marked as read
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /admin/users:
    get:
      tags:
        - Admin
      summary: Get list of users
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: role
          schema:
            type: string
            enum:
              - renter
              - owner
              - spot_finder
              - admin
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicUserProfile'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /admin/users/{userId}/suspend:
    post:
      tags:
        - Admin
      summary: Suspend a user account
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User suspended
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    RegisterRequest:
      type: object
      required:
        - email
        - password
        - full_name
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        full_name:
          type: string
    AuthResponse:
      type: object
      required:
        - userId
      properties:
        access_token:
          type: string
        userId:
          type: string
          format: uuid
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    PasswordResetRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
    PasswordResetConfirmRequest:
      type: object
      required:
        - token
        - new_password
      properties:
        token:
          type: string
        new_password:
          type: string
          format: password
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        full_name:
          type: string
        account_status:
          type: string
          enum:
            - active
            - suspended
        renter_profile:
          $ref: '#/components/schemas/RenterProfile'
        owner_profile:
          $ref: '#/components/schemas/OwnerProfile'
        spot_finder_profile:
          $ref: '#/components/schemas/SpotFinderProfile'
        notification_preferences:
          $ref: '#/components/schemas/NotificationPreferences'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PublicUserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        full_name:
          type: string
        roles:
          type: array
          items:
            type: string
            enum:
              - renter
              - owner
              - spot_finder
    UserUpdateRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        full_name:
          type: string
        notification_preferences:
          $ref: '#/components/schemas/NotificationPreferences'
    NotificationPreferences:
      type: object
      properties:
        email_notifications:
          type: boolean
        push_notifications:
          type: boolean
    CarInfo:
      type: object
      required:
        - make
        - model
        - license_plate
      properties:
        id:
          type: string
          format: uuid
        make:
          type: string
        model:
          type: string
        color:
          type: string
        license_plate:
          type: string
        default:
          type: boolean
    RenterProfile:
      type: object
      properties:
        car_info:
          type: array
          items:
            $ref: '#/components/schemas/CarInfo'
        favorites:
          type: array
          items:
            type: string
            format: uuid
    OwnerProfile:
      type: object
      properties:
        parking_spaces:
          type: array
          items:
            $ref: '#/components/schemas/ParkingSpace'

        earnings:
          type: number
          format: float
    SpotFinderProfile:
      type: object
      properties:
        submissions:
          type: array
          items:
            type: string
            format: uuid
        points_accumulated:
          type: integer
    ParkingSpace:
      type: object
      properties:
        id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        location:
          $ref: '#/components/schemas/Location'
        features:
          type: array
          items:
            type: string
        availability_schedule:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlot'
        pricing_info:
          $ref: '#/components/schemas/PricingInfo'
        photos:
          type: array
          items:
            type: string
            format: uri
        verification_status:
          type: string
          enum:
            - verified
            - pending
            - rejected
        dynamic_pricing_enabled:
          type: boolean
        cancellation_policy:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ParkingSpaceSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        location:
          $ref: '#/components/schemas/Location'
        features:
          type: array
          items:
            type: string
        average_rating:
          type: number
          format: float
          minimum: 0
          maximum: 5
        availability:
          type: boolean
    ParkingSpaceCreateRequest:
      type: object
      required:
        - location
        - features
        - availability_schedule
        - pricing_info
      properties:
        location:
          $ref: '#/components/schemas/Location'
        features:
          type: array
          items:
            type: string
        availability_schedule:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlot'
        pricing_info:
          $ref: '#/components/schemas/PricingInfo'
        dynamic_pricing_enabled:
          type: boolean # default: false, might be useful to toggle later?
        cancellation_policy:
          type: string
        proof_of_ownership:
          type: string
          format: uri # is this how we can get a "link" to the binary? or would it be passed to the api in another way?
    ParkingSpaceUpdateRequest:
      type: object
      properties:
        features:
          type: array
          items:
            type: string
        availability_schedule:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlot'
        pricing_info:
          $ref: '#/components/schemas/PricingInfo'
        dynamic_pricing_enabled:
          type: boolean
        cancellation_policy:
          type: string
    Location:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        address:
          type: string
    TimeSlot:
      type: object
      required:
        - day_of_week
        - start_time
        - end_time
      properties:
        day_of_week:
          type: string
          enum:
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
        start_time:
          type: string
          pattern: date-time
        end_time:
          type: string
          pattern: date-time
    PricingInfo:
      type: object
      required:
        - base_price
      properties:
        base_price:
          type: number
          format: float
        dynamic_pricing:
          type: boolean
        dynamic_pricing_algorithm:
          type: string
    Reservation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parking_space_id:
          type: string
          format: uuid
        renter_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - booked
            - active
            - completed
            - canceled
        car_info:
          $ref: '#/components/schemas/CarInfo'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ReservationCreateRequest:
      type: object
      required:
        - parking_space_id
        - start_time
        - end_time
        - car_info_id
        - renter_id
      properties:
        parking_space_id:
          type: string
          format: uuid
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        car_info_id:
          type: string
          format: uuid
        renter_id:
          type: string
          format: uuid
    ReservationUpdateRequest:
      type: object
      required:
        - end_time
        - reservation_id
      properties:
        reservation_id:
          type: string
          format: uuid
        end_time:
          type: string
          format: date-time
    SpotFinderSubmission:
      type: object
      properties:
        id:
          type: string
          format: uuid
        spot_finder_id:
          type: string
          format: uuid
        location:
          $ref: '#/components/schemas/Location'
        photo_url:
          type: string
          format: uri
        time:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - verified
            - pending
            - rejected
        points_awarded:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        type:
          type: string
        message:
          type: string
        read:
          type: boolean
        timestamp:
          type: string
          format: date-time

